<%# Only on mobile screeens, include a compressed sort capability versus ransack sortable columns %>
<div class="py-1 mb-4 ml-4 bg-indigo-300 border rounded-md md:hidden max-w-40 border-slate-600">
  <!-- Mobile sort dropdown -->
  <%= form_with url: review_notifications_path, method: :get, local: false do |f| %>
    <%= select_tag "q[s]",
          options_for_select([
            ["Newest First", "created_at desc"],
            ["Oldest First", "created_at asc"],
            ["User name (a-z)", "review_user_name asc"],
            ["User name (z-a)", "review_user_name desc"],
            ["Product (a-z)", "review_product_title asc"],
            ["Product (z-a)", "review_product_title desc"],
            ["Read", "read asc"]
          ], params.dig(:q, :s)),
          class: "text-sm border-slate-600 bg-indigo-300" %>
    <%= submit_tag "Sort", class: "ml-2 px-1 text-sm bg-indigo-500 text-white rounded-md hover:scale-110" %>
  <% end %>
</div>

<turbo-frame id="review_notifications_list">
  <%= render partial: "notifications_list", locals: { review_notifications: @review_notifications, query: @query } %>
</turbo-frame>