<div id="cart-drawer"
     data-controller="cart-drawer"
     class="fixed inset-y-0 right-0 z-50 flex flex-col w-full transition-transform duration-500 ease-in-out transform translate-x-full bg-white border shadow-md sm:w-2/3 md:w-1/2 lg:w-2/5 border-slate-500">

  <!-- Header with close button -->
  <div class="flex items-center justify-between p-4 border-b border-gray-200 bg-gray-50">
    <h2 class="text-lg font-semibold text-gray-800">Your Cart</h2>
    <button 
      type="button"
      data-action="click->cart-drawer#hide"
      class="text-gray-500 hover:text-gray-800">
      <%= render_icon("cancel", classes: "w-4 h-4 text-sm hover:cursor-pointer hover:scale-110") %>
    </button>
  </div>
  
  <!-- Cart contents -->
  <div class="flex-1 p-4 overflow-y-auto">
    <%= render partial: "carts/cart_table", locals: { cart: cart, cart_items: cart_items, editable: false } %>
  </div>
</div>