<div data-context-menu-target="menu"
     class="hidden absolute bg-white border rounded shadow-md z-50">

  <ul class="divide-y divide-gray-200">
    <li>
      <%= link_to "Add Child", add_child_product_category_path(record), class: "block px-1 py-2 text-xs font-normal hover:bg-gray-100" %>
    </li>
  </ul>
  
</div>