<div class="bg-center bg-cover h-96 z-0 border-2 border-zinc-800"
     style="background-image: url('<%= asset_path("minimarket_homepage.jpg") %>')">
  
  <div class="px-4 text-center py-12 lg:py-24">
    <div class="mb-4 inline-block p-2
                rounded-md
                text-4xl md:text-5xl lg:text-6xl 
                font-sans font-bold
                text-indigo-700 bg-white/50
                border-2 border-zinc-800">
      MiniMarket
    </div>
    <div class="block">
      <div class="mb-8 inline-block p-2
                  border-2 border-zinc-800
                  rounded-md
                  text-lg font-sans font-normal
                  text-indigo-700 bg-yellow-200/70">
        Buy something...Please.
      </div>
    </div>
    <div class="w-24 pb-1 inline-block
                rounded-md shadow-lg 
                bg-indigo-200 hover:bg-indigo-500 hover:scale-110
                ring-1 ring-black ring-opacity-5 z-10 
                justify-items-center">
      <%= link_to "Sign up", new_user_registration_path, 
                  class: "block px-2 text-lg font-semibold text-center text-gray-950" %>
    </div>
    <div class="w-24 pb-1 ml-4 inline-block
                rounded-md shadow-lg
                bg-green-200  hover:bg-green-600 hover:scale-110
                ring-1 ring-black ring-opacity-5 z-10 
                justify-items-center">
      <%= link_to "Sign in", new_user_session_path,
                  class: "block px-2 text-lg font-semibold text-center text-gray-950" %>
    </div>
  </div>
</div>

