<div class="z-0 bg-center bg-cover border-2 h-96 border-zinc-800"
     style="background-image: url('<%= asset_path("minimarket_homepage.jpg") %>')">
  
  <div class="px-4 py-12 text-center lg:py-24">
    <div class="inline-block p-2 mb-4 font-sans text-4xl font-bold text-indigo-700 border-2 rounded-md md:text-5xl lg:text-6xl bg-white/50 border-zinc-800">
      MiniMarket
    </div>
    <div class="block">
      <div class="inline-block p-2 mb-8 font-sans text-lg font-normal text-indigo-700 border-2 rounded-md border-zinc-800 bg-yellow-200/70">
        Buy something...Please.
      </div>
    </div>
    <div class="z-10 inline-block w-24 pb-1 bg-indigo-200 rounded-md shadow-lg hover:bg-indigo-500 hover:scale-110 ring-1 ring-black ring-opacity-5 justify-items-center">
      <%= link_to "Sign up", new_user_registration_path, 
                  class: "block px-2 text-lg font-semibold text-center text-gray-950" %>
    </div>
    <div class="z-10 inline-block w-24 pb-1 ml-4 bg-green-200 rounded-md shadow-lg hover:bg-green-600 hover:scale-110 ring-1 ring-black ring-opacity-5 justify-items-center">
      <%= link_to "Sign in", new_user_session_path,
                  class: "block px-2 text-lg font-semibold text-center text-gray-950" %>
    </div>
  </div>
</div>

