<div class="contents font-semibold border-t border-gray-300 pt-2 mt-2">
  <div class="px-2 text-center"></div>
  <div class="px-4 text-right">Totals:</div>

  <!-- Total of quantity(s) -->
  <div id="cart-total-quantity" class="px-2 text-center font-semibold">
    <%= cart.cart_items.sum(&:quantity) %>
  </div>

  <!-- Placeholder for "Price" column -->
  <div class="px-2 text-right font-normal"></div>

  <!-- Total of purchase(s) -->
  <div id="cart-total-price"
       class="px-2 text-right font-normal">
    <%= number_to_currency(
          cart.cart_items.sum { |item| item.product.price * item.quantity.to_i },
          precision: 2,
          unit: "$",
          delimiter: ",") %>
  </div>


</div>