<%= form_with(model: item) do |f| %> <%# no local: true, defaults to Turbo %>
  <div class="flex items-center space-x-2">
    <%= f.number_field :quantity,
      value: item.quantity,
      min: 0,
      class: "w-16 text-center bg-green-100 border rounded px-1 py-0.5" %>

    <%= button_tag type: "submit" do %>
      <%= render "icons/update_icon", classes: "w-5 h-5 text-blue-600 hover:text-blue-800" %>
    <% end %>
  </div>
<% end %>