<div class="md:w-3/5 w-full">
  <h1 class="font-semibold text-base mb-4">
		<%= current_user.name.titlecase %>:  Edit your cart's contents:
  </h1>

  <%= render "shared/error_msgs", obj: @cart%>

  <%= render partial: "carts/cart_table", locals: { cart: @cart, editable: true } %>

</div>
