<turbo-frame id="category_tree">
  <div data-controller="tree">
    <!-- Show All / Collapse All Button -->
    <div class="mb-2">
      <button type="button"
              data-action="click->tree#toggleAll"
              class="text-sm text-blue-600 hover:underline focus:outline-none">
        Show All Subcategories
      </button>
    </div>

    <ul class="text-sm font-medium text-gray-800">
      <%# Pass instance variable to partial as a local. %>
      <%# Because recursion is used within the partial to display sub-categories, %>
      <%# the partial loops through a local variable, which is resets during the hierarchical recursion. %>
      <%# Otherwise an endless loop results because @product_categories doesn't change  %>
      <%= render partial: "product_categories/product_category", 
                locals: { product_categories: product_categories } %>
    </ul>

  </div>

  <turbo-frame id="product_list" class="mt-6"></turbo-frame>

</turbo-frame>