<turbo-frame id="categorytree_productlist_toggle">

  <% if product_categories.any? %>
    <div data-controller="tree">
      <!-- Show All / Collapse All Button -->
      <% if product_category.has_grandchildren? %>
        <div class="mt-2 mb-1">
          <button type="button"
                  data-action="click->tree#toggleAll"
                  class="text-sm text-blue-600 hover:underline focus:outline-none">
            Show All Subcategories
          </button>
        </div>
      <% end %>

      <%# Render the product sub-categories in a grid layout %>
      <ul class="grid grid-cols-1 text-sm font-medium text-gray-800 border rounded-md sm:grid-cols-3 lg:grid-cols-4 gap-x-6 gap-y-2 border-stone-200">
        <%# Pass instance variable to partial as a local. %>
        <%# Because recursion is used within the partial to display sub-categories, %>
        <%# the partial loops through a local variable, which is resets during the hierarchical recursion. %>
        <%# Otherwise an endless loop results because @product_categories doesn't change  %>
        <%= render partial: "product_categories/product_category", 
                   locals: { product_categories: product_categories } %>
      </ul>
    
    </div>
  <% end %>

  <% if !product_category.nil? && product_category.products.any? %>
    <%= render partial: "products/index", locals: { products: product_category.products, 
                                                    product_category: product_category } %>
  <% end %>
</turbo-frame>