<h2 class="text-lg font-semibold mb-2">Product Categories: </h2>

<% if @root_categories.any? %>
  <div class="grid grid-cols-6 gap-x-4 py-0
              border-t-1
              border-b-1 border-indigo-500">
    <% @root_categories.each do |root| %>
      <div>
        <%= link_to root.name, product_category_path(root), 
                               data: { turbo_frame: "categorytree_productlist_toggle" },
                               class: "text-blue-600 hover:underline text-sm" %>
      </div>
    <% end %>
  </div>


  <!--The category_tree or product_list partials will be included here, based on user's selection. -->
  <!-- 1. Selection of root category (above) points to here-->
  <!-- 2. That selection invokes that product_category's Show page [via product_category_path(root)] -->
  <!-- 3. That show page calls partial category_tree -->
  <!-- 4. The code in partial category_tree is wrapped in turboframe id= "categorytree_productlist_toggle" -->
  <!-- 5. The code in product_list partial is also wrapped in the same turboframe. id -->
  
  <turbo-frame id="categorytree_productlist_toggle" class="mt-2 pt-2"></turbo-frame>

<% else %>
  <p class="text-gray-500">No product categories available.</p>
<% end %>