<turbo-frame id="categorytree_productlist_toggle" class="mt-2 pt-2">
  <div class="mt-2 ml-6 text-lg fone-semi-bold">
    Select a product category above <%= render_icon("arrow_up_rounded", classes: "w-5 h-5 mb-6 inline-block stroke-blue-500 stroke-3") %> to view its available products
  </div>
  
    <div class="bg-center bg-cover h-96 z-0 border-2 border-zinc-800 relative"
         style="background-image: url('<%= asset_path("minimarket_homepage.jpg") %>')">
      <div class="absolute inset-0 bg-white/30 backdrop-blur backdrop-opacity-50"></div>
    </div>

</turbo-frame>