<turbo-frame id="categorytree_productlist_toggle" class="mt-2 pt-2">
  <div class="mt-2 ml-6 text-lg fone-semi-bold">
    Select a product category above <%= render_icon("arrow_up_rounded", classes: "w-5 h-5 mb-6 inline-block stroke-blue-500 stroke-3") %> to view its available products
  </div>
</turbo-frame>