<%# Replace the entire cart drawer container %>
<%= turbo_stream.replace "cart-drawer-container" do %>
  <div id="cart-drawer-container">
    <%= render partial: "shared/cart_drawer", 
              locals: { cart: current_user.cart,
                        cart_items: @cart_items,
                        editable: false } %>
  </div>
<% end %>

<%# Refresh the Add to Cart button so that it is now disabled %>
<%= turbo_stream.replace dom_id(@product, :add_to_cart_button) do %>
  <%= render partial: "products/show_add_to_cart", locals: { product: @product } %>
<% end %>