<h2 class="text-2xl font-bold">Product Categories </h2>
<% if @product_categories.any? %>
  <%#  NOTE:  Pass instance variable to partial as a local. %>
  <%#         Because recursion is used within the partial to display sub-categories, the partial  %>
  <%#         loops through a local variable.  Otherwise an endless loop results  %>
  <%= render partial: "product_categories/product_category", 
             locals: { product_categories: @product_categories } %>
<% else %>
  <p class="text-gray-500">No product categories available.</p>
<% end %>