<!-- Primary image -->
<div class="relative h-96 mt-2 overflow-hidden">

  <% if product.primary_image.attached? %>
    <%= image_tag product.primary_image,  
        class: "w-full h-full object-contain transform duration-500 ease-in-out hover:scale-110", 

        data: { "gallery-target": "thumbnail_enlarge" }   %>
  <% else %>
    <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/1362px-Placeholder_view_vector.svg.png?20220519031949", class: "thumbnail" %>
  <% end %>

</div>

<%# Thumbnail strip %>
<div class="relative flex">
  <div class="flex space-x-1 w-full overflow-auto" 
      style="scroll-behavior: smooth;">
    <% if product.images.attached? %>
      <% product.images.each do |image| %>
        <button class="relative w-40 h-40 flex-shrink-0 rounded-sm overflow-hidden">

          <%= image_tag image, 
                        class: "w-full h-full object-contain cursor-zoom-in transform duration-300 
                                ease-in-out hover:scale-105 border", 
                        data: { action: "click->gallery#thumbnail_enlarge" } %>

        </button>
      <% end %>
    <% end %>
  </div>
</div>