<turbo-frame id="categorytree_productlist_toggle">
  <h2 class="mt-1 mb-1 text-xl font-bold"><%= @product.product_category.name %></h2>
  <h2>New Product:</h2>

  <%= render "shared/error_msgs", obj: @product %>

  <%= render "products/form" %>
</turbo-frame>