
<div data-controller="gallery"
     class="flex flex-col justify-center items-center md:flex-row md:items-start space-y-2 
            md:space-y-0 md:space-x-4 lg:space-x-4 max-w-6xl w-11/12 mx-auto">

  <!-- Left column:  Images and buttons -->
  <div class="w-full md:w-1/2 max-w-md border bg-white rounded shadow-lg flex flex-col justify-between h-full">
    <!-- Image section -->
    <%= render partial: "products/show_images", locals: { product: @product } %>
    <!-- Button section inside the image column -->
    <%= render partial: "products/show_buttons", locals: { product: @product } %>
  </div>

  <!-- Right column:  Product Info --> 
  <%= render partial: "products/show_info", locals: { product: @product } %>

</div>

