<div id="<%= dom_id review %>">
  <blockquote class="pl-4 mt-4 mb-1 font-normal italic text-gray-700">
    <%= review.body %>
  </blockquote>
  <blockquote class="pl-4 block font-normal text-sm mb-1 ml-8">
    <%= review.user.email %>
  </blockquote>
</div>
